@{
    ViewData["Title"] = "About-Us";
}

<div class="text-center">
    <h1 class="display-4">About-Us</h1>
    <p>
        At KhumaloCraft Emporium, we value diversity and the ability of craftsmanship to transcend boundaries. 
        Our platform, which was established by the visionary businessman James Khumalo, 
        is devoted to exhibiting the skill and originality of craftspeople from around the globe.
        Experts in their fields, our craftsmen infuse their individual histories and customs into every piece they create. 
        You're doing more than just buying a product when you support KhumaloCraft; you're also helping to promote sustainability, 
        preserve cultural history, and assist local communities.
        Come along on our adventure, one handcrafted creation at a time, to make the world a more beautiful and linked place.
    </p>
</div>
