@{
    ViewData["Title"] = "Contact-Us";
}

<div class=" text-center">
    <h1 class="display-4">Contact-Us</h1>
    <p> We would love to hear from you!<br />
        Email: info@khumalocraft.com<br />
        Phone: +27 00 000 000<br />
        Address: 321 Main Road, Cape Town <br />
        Follow us on social media for the updates @@khumalocraft on Facebook, Instagram and Twitter.<br />
    </p>
</div>