@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home</h1>
    <p>Welcome to KhumaloCraft Emporium, a place where culture and craftsmanship collide.
        Our goal is to bring together discriminating consumers who value the beauty and creativity
        of handcrafted goods with global craftsmen.
        Discover the stunning handcrafted pieces in our carefully picked collection, each of which tells a different tale of tradition and skill.
        KhumaloCraft Emporium offers something unique for everyone, whether you're searching for a focal piece for your house or a heartfelt present for a loved one.
        Now is the time to explore!
    </p>
</div>
