@{
    ViewData["Title"] = "My-Work";
}

<h1 class="display-4 text-center">My-Work</h1>

<div class=" text-center">
<p>All the work from our talented artisians</p>
<div>
<img src="https://i.pinimg.com/236x/ef/87/c3/ef87c3180cf9a38a8acdf6ce4e73f3fe.jpg" width="200" height="200"/>
        <div>
            <button class="decrement">-</button>
            <input type="number" value="1" min="1" step="1" class="quantity" style="width: 50px;">
            <button class="increment">+</button>
        </div>
</div>

<div>
<img src="https://i.pinimg.com/236x/95/fc/fe/95fcfe7483d027c6c78de17c9e0e7902.jpg" width="200" height="200" />
        <div>
            <button class="decrement">-</button>
            <input type="number" value="1" min="1" step="1" class="quantity" style="width: 50px;">
            <button class="increment">+</button>
        </div>
</div>

<div>
<img src="https://i.pinimg.com/236x/c9/47/14/c94714a78b57a93b23bb81cd0e4c118b.jpg" width="200" height="200" />
    <div>
        <button class="decrement">-</button>
        <input type="number" value="1" min="1" step="1" class="quantity" style="width: 50px;">
        <button class="increment">+</button>
    </div>
</div>

<div>
<img src="https://i.pinimg.com/236x/4c/49/44/4c494492ad7edf75c8150fd7af868932.jpg" width="250" height="250" />
        <div>
            <button class="decrement">-</button>
            <input type="number" value="1" min="1" step="1" class="quantity" style="width: 50px;">
            <button class="increment">+</button>
        </div>
</div>

<div>
<img src="https://i.pinimg.com/236x/96/57/42/965742a9dd87b946d9e703078a4e20e9.jpg" width="250" height="250" />
        <div>
            <button class="decrement">-</button>
            <input type="number" value="1" min="1" step="1" class="quantity" style="width: 50px;">
            <button class="increment">+</button>
        </div>
</div>

<div>
<img src="https://i.pinimg.com/236x/90/8c/4f/908c4f381c0bdad62cba3da726d4760e.jpg" width="250" height="250" />
        <div>
            <button class="decrement">-</button>
            <input type="number" value="1" min="1" step="1" class="quantity" style="width: 50px;">
            <button class="increment">+</button>
        </div>
</div>
</div>